body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(./6d1fc223-93aa-431a-8424-0917dcc85ae1.jpeg);
    background-size: cover;
    background-position: center;
}
img {
  width: 100%;
  height: auto;
}
.sign-up-form
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 10px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 8px;
}
.sign-up-form h1 {
    color: rgb(28, 139, 203);
    margin-bottom: 30px;
}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #999;
    outline: none;
}
button
{
    color: #fff;
    width: 100%;
    padding: 10px;
border-radius: 20px;
font-size: 15px;
margin: 10px 0;
border: none;
outline: none;
cursor: pointer;
}
.sign-btn
{
    background-color: #1c8adb;
}
.email-btn
{
    background-color: #21afde;
}
a{
    text-decoration: none;
}
hr
{
    margin-top: 20px;
    width: 80%;
}
.or{
    background-color: #fff;
    width: 30px;
    margin: -19px auto 10px;
}